.btn-group {
  position: relative;
}

.btn-group button {
  border: 1px solid black; /* Green border */
  padding: 7px 13.3px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  background-color: white;
  color: black; /* Mid grey font color */
  transition: background-position 0.5s, color 0.5s, background-color 0.5s; /* Smooth transition for hover effects */
}

.btn-group button:not(:nth-child(3)) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover, .btn-group button.selected {
  background-position: -100% 0;
  background-color: rgb(5, 5, 5, .85);
  color: white; /* Change font color on hover for better visibility */
}