/* all game layout css related to responsive classes here */
.capture {
  position: absolute;
}

.captureContainer {
  left: 16px;
  bottom: 50%;
}

.bodyScroll {
  overflow-x: hidden;
}

.moveLog {
  position: fixed;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
  background-color: #fffeed;
}

.moveLog-list {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.moveLog-item {
  margin-left: 12px;
  margin-right: 12px;
  text-align: left;
}

.moveLog-header {
  background-color: yellow;
  border-bottom: 1px solid black;
  position: fixed; 
  padding: 12px;
}

.moveLog-header .count {
  color: #a4a4a4;
}

.logo {
  position: fixed;
}

/* screen size specifics */

/* todo - might put this in a responsive.css */

/* above 840px the screen scales the viewport to fit the grid on the left and the move log to the right */
@media (min-width: 1700px) {
  .label {
    font-size: 80%;
    max-width: 16%;
  }
  
  .label.left {
    left: 0px;
  }

  .label.right {
    left: 1060px;
  }

  .clock {
    position: absolute;
    top: 155px;
    transform: scale(.6);
  }
  .left.clock {
    left: -30px;
  }
  .right.clock {
    left: 1035px;
  }

  .capture {
    font-size: 30px;
    top: 670px;
    min-width: 52px;
    max-width: 52px;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 1286px;
  }

  .logo {
    width: 40px;
    left: 1644px;
  }

  .moveLog {
    left: 1370px;
    top: 10px;
    font-size: 24px;
    min-height: 80%;
    width: 322px;
  }

  .moveLog-list {
    margin-top: 68px;
    height: 93%;
  }

  .moveLog-header {
    width: 298px;
    height: 40px;
  }
  
  .moveLog-header .log {
    font-size: 30px;
  }

  .moveLog-header .count {
    font-size: 26px;
  }

  form.configForm {
    position: absolute;
    top: 1074px;
    left: 36px;
  }

  form.configForm label {
    font-size: 22px;
  }

  form.configForm input {
    font-size: 18px;
  }

  .popup.position {
    top: 194px;
    left: 686px;
  }

  .scale {
    margin-top: 80px;
    margin-left: 8%;
    transform: scale(1.1);
  }
}

@media (max-width: 1700px) and (min-width: 1400px) {
  .label {
    font-size: 68%;
    max-width: 13%;
  }

  .label.right {
    left: 730px;
  }

  .label.left {
    left: 0px;
  }

  .clock {
    position: absolute;
    top: 142px;
    transform: scale(.4);
  }

  .left.clock {
    left: -82px;
  }

  .right.clock {
    left: 670px;
  }

  .capture {
    font-size: 30px;
    top: 420px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 860px;
  }

  .logo {
    width: 34px;
    right: 26px;
  }

  .moveLog {
    right: 10px;
    top: 1%;
    font-size: 24px;
    height: 85%;
    max-height: 730px;
    width: 432px;
  }

  .moveLog-header {
    width: 408px;
    height: 36px;
  }

  .moveLog-header .log {
    font-size: 26px;
  }

  .moveLog-header .count {
    font-size: 22px;
  }

  .moveLog-list {
    margin-top: 70px;
    height: 88.65%;
  }

  form.configForm {
    position: absolute;
    top: 665px;
    left: 20px;
  }

  form.configForm label {
    font-size: 15.5px;
  }

  form.configForm input {
    font-size: 13.5px;
  }

  .popup.position {
    top: 180px;
    left: 476px;
  }

  .scale {
    margin-top: -160px;
    margin-left: -110px;
    transform: scale(.70);
  }
}

@media (max-width: 1400px) and (min-width: 1100px) {
  .label {
    font-size: 68%;
    max-width: 13%;
  }

  .label.right {
    left: 690px;
  }

  .label.left {
    left: 0px;
  }

  .clock {
    position: absolute;
    top: 132px;
    transform: scale(.34);
  }

  .left.clock {
    left: -106px;
  }
  
  .right.clock {
    left: 594px;
  }

  .capture {
    font-size: 30px;
    top: 450px;
    min-width: 6.5%;
    max-width: 6.5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 760px;
  }
  
  .logo {
    width: 28px;
    right: 28px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    font-size: 20px;
    height: 80%;
    max-height: 690px;
    width: 248px;
  }

  .moveLog-header {
    width: 224px;
    height: 30px;
  }

  .moveLog-header .log {
    font-size: 22px;
  }

  .moveLog-header .count {
    font-size: 18px;
  }

  .moveLog-list {
    margin-top: 64px;
    height: 84.8%;
  }

  .moveLog-item {
    font-size: 18px;
  }

  form.configForm {
    position: absolute;
    top: 624px;
    left: 10px;
  }

  form.configForm input {
    font-size: 10px;
  }

  form.configForm label {
    font-size: 14px;
  }

  .popup.position {
    top: 166px;
    left: 428px;
  }
  
  .scale {
    margin-left: -160px;
    margin-top: -180px;
    transform: scale(0.66);
  }
}

@media (max-width: 1100px) and (min-width: 840px) {
  .label {
    font-size: 24px;
    max-width: 14%;
  }

  .label.right {
    left: 505px;
  }

  .label.left {
    left: 0px;
  }

  .clock {
    position: absolute;
    top: 90px;
    transform: scale(.23);
  }

  .left.clock {
    left: -126px;
  }
  
  .right.clock {
    left: 386px;
  }

  .capture {
    font-size: 18px;
    top: 340px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 555px;
  }

  .logo {
    width: 28px;
    right: 22px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    font-size: 20px;
    height: 80%;
    max-height: 510px;
    width: 218px;
  }

  .moveLog-header {
    min-width: 193.8px;
    max-width: 193.8px;
    height: 24px;
  }

  .moveLog-header .log {
    font-size: 22px;
  }

  .moveLog-header .count {
    font-size: 18px;
  }

  .moveLog-list {
    margin-top: 60px;
    height: 86%;
  }

  .moveLog-item {
    font-size: 18px;
  }


  form.configForm {
    position: absolute;
    top: 450px;
    left: 16px;
  }
  form.configForm label {
    font-size: 8.4px;
  }
  
  form.configForm input {
    font-size: 7px;
  }

  .popup.position {
    top: 120px;
    left: 312px;
  }

  .scale {
    margin-left: -265px;
    margin-top: -270px;
    transform: scale(0.48);
  }
}

/* below 840px the log is displayed below the board */
@media (max-width: 840px) and (min-width:640px) {
  .bodyScroll {
    overflow-y: auto;
  }

  .label {
    font-size: 50%;
    max-width: 15%;
  }

  .right.label {
    position: absolute !important;
    left: 505px;
  }

  .left.label {
    position: absolute !important;
    left: 36px;
  }

  .clock {
    position: absolute;
    top: 83px;
    transform: scale(.26);
  }

  .left.clock {
    left: -128px;
  }
  
  .right.clock {
    left: 388px;
  }

  .capture {
    position: absolute;
    font-size: 16px;
    top: 320px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 560px;
  }

  .logo {
    width: 24px;
    right: 12px;
    top: 12px;
    position: absolute;
  }

  .moveLog {
    position: absolute;
    left: 10px;
    top: 525px;
    font-size: 20px;
    height: 160px;
    width: 96.5%;
  }

  .moveLog-header {
    position: absolute;
    width: 96.75%;
    height: 24px;
  }

  .moveLog-header .log {
    font-size: 20px;
  }

  .moveLog-header .count {
    font-size: 16px;
  }

  .moveLog-list {
    margin-top: 50px;
    height: 100px;
  }

  form.configForm {
    position: absolute;
    top: 474px;
    left: 200px;
  }

  .popup.position {
    top: 118px;
    left: 328px;
  }
  
  .scale {
    margin-left: -27%;
    margin-top: -285px;
    transform: scale(0.45);
  }
}

@media (max-width: 640px) {
  .bodyScroll {
    overflow-x: auto;
    overflow-y: auto;
  }

  .label {
    font-size: 40%;
    max-width: 16%;
  }

  .right.label {
    position: absolute !important;
    left: 420px;
  }

  .left.label {
    position: absolute !important;
    left: 36px;
  }


  .clock {
    position: absolute;
    top: 81px;
    transform: scale(.22);
  }

  .left.clock {
    left: -135px;
  }
  
  .right.clock {
    left: 297px;
  }

  .capture {
    position: absolute;
    font-size: 16px;
    top: 290px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 470px;
  }

  .logo {
    width: 24px;
    right: 12px;
    top: 12px;
    position: absolute;
  }

  .moveLog {
    position: absolute;
    left: 10px;
    top: 480px;
    font-size: 20px;
    height: 180px;
    width: 96.5%;
  }

  .moveLog-header {
    position: absolute;
    width: 96%;
    height: 24px;
  }

  .moveLog-header .log {
    font-size: 20px;
  }

  .moveLog-header .count {
    font-size: 16px;
  }

  .moveLog-list {
    margin-top: 50px;
    height: 128px;
  }

  form.configForm {
    position: absolute;
    top: 424px;
    left: 172px;
  }

  form.configForm label {
    font-size: 14px;
  }

  form.configForm input {
    font-size: 10px;
  }

  .popup.position {
    top: 118px;
    left: 268px;
  }
  
  .scale {
    margin-left: -35%;
    margin-top: -300px;
    transform: scale(0.4);
  }
}
