/* all game layout css related to responsive classes here */
.capture {
  position: absolute;
}

.captureContainer {
  left: 16px;
  bottom: 50%;
}

.bodyScroll {
  overflow-x: hidden;
}

.floating {
  position: absolute;
  margin-left: 6px;
  animation: floatAnimation .8s infinite linear;
}

.timeLabel {
  position: relative;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 9px;
  padding: 3px;
  padding-left: 6px;
  font-size: 11px;
  top: -4px;
  margin-right: 4px;
  transition: background-color .3s ease-in-out;
}

.timeLabel.user {
  background: #8E44AD;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px); /* Change this value to adjust the width of the screen you want the element to float across */
  }
  100% {
    transform: translateY(-4px);
  }
}

.moveLog {
  position: fixed;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
  background-color: #fffeed;
}

.moveLog-list {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.moveLog-item {
  margin-top: 2px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: left;
  transition: background-color .3s ease-in-out;
}

.moveLog-item:hover {
  background-color: rgb(244, 244, 76);
}

.moveLog-item:hover .timeLabel {
  background-color: white;
  color: black;
}

.moveLog-header {
  background-color: yellow;
  border-bottom: 1px solid black;
  position: fixed; 
  padding: 12px;
}

.moveLog-header .count {
  color: #a4a4a4;
}

.logo {
  position: fixed;
}

.label {
  box-shadow: 0px 1px 0px #8E44AD;
  display: inline-block;
  padding-bottom: 4px;
}

/* screen size specifics */

/* todo - might put this in a responsive.css */

/* above 840px the screen scales the viewport to fit the grid on the left and the move log to the right */
@media (min-width: 1700px) {
  .label {
    font-size: 80%;
    max-width: 16%;
  }
  
  .label.left {
    left: 0px;
  }

  .label.right {
    left: 1060px;
  }

  .clock {
    position: absolute;
    top: 155px;
    transform: scale(.6);
  }
  .left.clock {
    left: -30px;
  }
  .right.clock {
    left: 1035px;
  }

  .capture {
    font-size: 30px;
    top: 670px;
    min-width: 52px;
    max-width: 52px;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 1286px;
  }

  .logo {
    width: 40px;
    left: 1644px;
  }

  .moveLog {
    left: 1370px;
    top: 10px;
    bottom: 50px;
    font-size: 24px;
    max-height: 1164px;
    width: 322px;
  }

  .moveLog-list {
    position: fixed;
    top: 80px;
    left: 1370px;
    bottom: 52px;
    width: 322px;
    max-height: 1090px;
  }

  .moveLog-header {
    width: 298px;
    height: 40px;
  }
  
  .moveLog-header .log {
    font-size: 30px;
  }

  .moveLog-header .count {
    font-size: 26px;
  }

  form.configForm {
    display: none; /* hide form */ 
    position: absolute;
    top: 1074px;
    left: 36px;
  }

  form.configForm label {
    font-size: 22px;
  }

  form.configForm input {
    font-size: 18px;
  }

  .btn-group {
    left: 1018px;
    top: -30px;
  }

  .popup.position {
    top: 194px;
    left: 686px;
  }

  .scale {
    transform: scale(1.1);
  }
  
  .scale.position {
    margin-top: 80px;
    margin-left: 8%;
  }
}

@media (max-width: 1700px) and (min-width: 1400px) {
  .label {
    font-size: 68%;
    max-width: 13%;
  }

  .label.right {
    left: 730px;
  }

  .label.left {
    left: 0px;
  }

  .clock {
    position: absolute;
    top: 142px;
    transform: scale(.4);
  }

  .left.clock {
    left: -82px;
  }

  .right.clock {
    left: 670px;
  }

  .capture {
    font-size: 30px;
    top: 420px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 860px;
  }

  .logo {
    width: 34px;
    right: 26px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    bottom: 50px;
    font-size: 24px;
    max-height: 730px;
    width: 432px;
  }

  .moveLog-header {
    width: 408px;
    height: 36px;
  }

  .moveLog-header .log {
    font-size: 26px;
  }

  .moveLog-header .count {
    font-size: 22px;
  }

  .moveLog-list {
    position: fixed;
    top: 74px;
    right: 10px;
    bottom: 52px;
    width: 432px;
    max-height: 666px;
  }

  form.configForm {
    position: absolute;
    top: 665px;
    left: 20px;
  }

  form.configForm label {
    font-size: 15.5px;
  }

  form.configForm input {
    font-size: 13.5px;
  }

  .btn-group {
    left: 688px;
    top: -30px;
  }

  .popup.position {
    top: 180px;
    left: 476px;
  }

  .scale {
    transform: scale(.70);
  }

  .scale.position {
    margin-top: -160px;
    margin-left: -110px;
  }
}

@media (max-width: 1400px) and (min-width: 1100px) {
  .label {
    font-size: 68%;
    max-width: 13%;
  }

  .label.right {
    left: 690px;
  }

  .label.left {
    left: 0px;
  }

  .clock {
    position: absolute;
    top: 132px;
    transform: scale(.34);
  }

  .left.clock {
    left: -106px;
  }
  
  .right.clock {
    left: 594px;
  }

  .capture {
    font-size: 30px;
    top: 450px;
    min-width: 6.5%;
    max-width: 6.5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 760px;
  }
  
  .logo {
    width: 28px;
    right: 28px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    bottom: 51px;
    font-size: 20px;
    max-height: 690px;
    width: 248px;
  }

  .moveLog-header {
    width: 224px;
    height: 30px;
  }

  .moveLog-header .log {
    font-size: 22px;
  }

  .moveLog-header .count {
    font-size: 18px;
  }

  .moveLog-list {
    position: fixed;
    top: 70px;
    right: 10px;
    bottom: 52px;
    width: 248px;
    max-height: 630px;
  }

  .moveLog-item {
    font-size: 18px;
  }

  form.configForm {
    position: absolute;
    top: 626px;
    left: 10px;
  }

  form.configForm input .btn-group button{
    font-size: 10px;
  }

  form.configForm label {
    font-size: 14px;
  }

  .btn-group {
    left: 638px;
    top: -30px;
  }

  .popup.position {
    top: 166px;
    left: 428px;
  }
  
  .scale {
    transform: scale(0.66);
  }

  .scale.position {
    margin-left: -160px;
    margin-top: -180px;
  }
}

@media (max-width: 1100px) and (min-width: 868px) {
  .label {
    font-size: 24px;
    max-width: 14%;
  }

  .label.right {
    left: 505px;
  }

  .label.left {
    left: 0px;
  }

  .clock {
    position: absolute;
    top: 90px;
    transform: scale(.23);
  }

  .left.clock {
    left: -126px;
  }
  
  .right.clock {
    left: 386px;
  }

  .capture {
    font-size: 18px;
    top: 340px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 555px;
  }

  .logo {
    width: 28px;
    right: 22px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    bottom: 51px;
    font-size: 20px;
    max-height: 498px;
    width: 218px;
  }

  .moveLog-header {
    min-width: 193.8px;
    max-width: 193.8px;
    height: 24px;
  }

  .moveLog-header .log {
    font-size: 22px;
  }

  .moveLog-header .count {
    font-size: 18px;
  }

  .moveLog-list {
    position: fixed;
    top: 62px;
    right: 10px;
    bottom: 52px;
    width: 218px;
    max-height: 440px;
  }

  .moveLog-item {
    font-size: 18px;
  }

  form.configForm {
    position: absolute;
    top: 448px;
    left: 8px;
  }

  form.configForm label {
    font-size: 8.4px;
  }
  
  form.configForm input, .btn-group button {
    font-size: 7px;
  }

  .btn-group {
    left: 464px;
    top: -30px;
    padding: 6.7px 10px;
  }

  .popup.position {
    top: 120px;
    left: 312px;
  }

  .scale {
    transform: scale(0.48);
  }

  .scale.position {
    margin-left: -265px;
    margin-top: -270px;
  }
}

/* below 840px the log is displayed below the board */
@media (max-width: 868px) and (min-width:640px) {
  .bodyScroll {
    overflow-y: auto;
  }

  .label {
    font-size: 50%;
    max-width: 15%;
  }

  .right.label {
    position: absolute !important;
    left: 505px;
  }

  .left.label {
    position: absolute !important;
    left: 36px;
  }

  .clock {
    position: absolute;
    top: 83px;
    transform: scale(.26);
  }

  .left.clock {
    left: -128px;
  }
  
  .right.clock {
    left: 388px;
  }

  .capture {
    position: absolute;
    font-size: 16px;
    top: 320px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 560px;
  }

  .logo {
    width: 24px;
    right: 12px;
    top: 12px;
    position: absolute;
  }

  .moveLog {
    position: absolute;
    left: 10px;
    top: 525px;
    font-size: 20px;
    height: 160px;
    width: 96.5%;
  }

  .moveLog-header {
    position: absolute;
    width: 96.75%;
    height: 24px;
  }

  .moveLog-header .log {
    font-size: 20px;
  }

  .moveLog-header .count {
    font-size: 16px;
  }

  .moveLog-list {
    margin-top: 54px;
    height: 102px;
  }

  form.configForm {
    position: absolute;
    top: 474px;
    left: 215px;
  }

  .btn-group {
    left: -214px;
    top: -38px;
    padding: 6.7px 10px;
  }

  .popup.position {
    top: 118px;
    left: 328px;
  }
  
  .scale {
    transform: scale(0.45);
  }
  
  .scale.position {
    margin-left: -27%;
    margin-top: -285px;
  }
}

@media (max-width: 640px) {
  .bodyScroll {
    overflow-x: auto;
    overflow-y: auto;
  }

  .label {
    font-size: 40%;
    max-width: 16%;
  }

  .right.label {
    position: absolute !important;
    left: 420px;
  }

  .left.label {
    position: absolute !important;
    left: 36px;
  }


  .clock {
    position: absolute;
    top: 81px;
    transform: scale(.22);
  }

  .left.clock {
    left: -135px;
  }
  
  .right.clock {
    left: 297px;
  }

  .capture {
    position: absolute;
    font-size: 16px;
    top: 290px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 470px;
  }

  .logo {
    width: 24px;
    right: 12px;
    top: 12px;
    position: absolute;
  }

  .moveLog {
    position: absolute;
    left: 10px;
    top: 480px;
    font-size: 20px;
    height: 180px;
    width: 96.5%;
  }

  .moveLog-header {
    position: absolute;
    width: 96%;
    height: 24px;
  }

  .moveLog-header .log {
    font-size: 20px;
  }

  .moveLog-header .count {
    font-size: 16px;
  }

  .moveLog-list {
    margin-top: 54px;
    height: 122px;
  }

  form.configForm {
    position: absolute;
    top: 426px;
    left: 172px;
  }

  form.configForm label {
    font-size: 14px;
  }

  form.configForm input, .btn-group button {
    font-size: 10px;
  }

  .btn-group {
    left: -172px;
    top: -34px;
    padding: 6.7px 10px;
  }

  .popup.position {
    top: 118px;
    left: 268px;
  }
  
  .scale {
    transform: scale(0.4);
  }
  
  .scale.position {
    margin-left: -35%;
    margin-top: -300px;
  }
}
