.shiny-effect {
  animation: shiny 2s infinite;
  cursor: pointer;
}

div.shiny-font {
  animation: color-change 2s infinite;
  min-width: 33px;
  font-weight: bolder;
  letter-spacing: -1px;
}

.regular-font {
  font-weight: bolder;
  letter-spacing: -1px;
  min-width: 33px;
}
.regular-font.peacha {
  color: #cdcdcd;
}
.regular-font.browna {
  color: #454545;
}
.regular-font.beigea {
  color: #787878;
}


@keyframes color-change {
  0%, 100% {
    color: #efefef;
  }
  50% {
    color: #101010;
  }
}

@keyframes shiny {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

div {
  user-select: none;
}

.purple-black {
  color: #140014;
}

/* piece size - the actual board and pieces scale on screen sizes so this is fixed */
.hex .middle span {
  font-size: 66px;
  position: relative;
  top: -9px;
}

/* honeycomb stuffs */

.hex {
  float: left;
  margin-left: 3px;
  margin-bottom: -26px;
  transition: border-opacity 1s ease;
}

.hex .top {
  width: 0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex .top.beige {

  border-bottom: 30px solid #D9BFFF;
}

.hex .top.peach {

  border-bottom: 30px solid #8E44AD;
}

.hex .top.brown {
  border-bottom: 30px solid #B398D6;
}

.hex .middle {
  width: 104px;
  height: 60px;
  margin-top: -1px;
  border-radius: 3px;
}

.hex .middle.beige {
  background: #D9BFFF;
}

.hex .middle.peach {
  background: #8E44AD;
}

.hex .middle.brown {
  background: #B398D6;
}

.hex .bottom {
  width: 0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  margin-top: -1px;
}

.hex .bottom.peach {
  border-top: 30px solid #8E44AD;
}

.hex .bottom.beige {
  border-top: 30px solid #D9BFFF;
}

.hex .bottom.brown {
  border-top: 30px solid #B398D6;
}

.hex-row {
  clear: left;
}

.hex-row.even {
  margin-left: 52px;
}

.hex-row {
  display: flex;
  flex-direction:row;
  clear: left;
}

.hex-row.even {
  margin-left: 52px;
}