/* all game layout css related to responsive classes here */
/* notes on rotated view:

global:
  Board:
    add rotate(270deg) to scaled board
    scale board down additional 10% 
  Cell Label:
    writing-mode: tb (or experiment to see what lets rotation apply)
  Piece:
    for the piece, apply transform: rotate(90deg) + writing-mode: tb 

per breakpoint:
  Board:
    adjust top position
    adjust position of clock & form Y(top) positions as well
*/

.capture {
  position: absolute;
}

.captureContainer {
  left: 16px;
  bottom: 50%;
}

.bodyScroll {
  overflow-x: hidden;
}

.floating {
  position: absolute;
  margin-left: 6px;
  animation: floatAnimation .8s infinite linear;
}

.timeLabel {
  position: relative;
  background: #6d6d6d;
  color: white;
  border: 1px solid black;
  border-radius: 9px;
  padding: 3px;
  padding-left: 6px;
  font-size: 11px;
  top: -4px;
  margin-right: 4px;
  transition: background-color .3s ease-in-out;
}

.timeLabel.user {
  background: #8E44AD;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px); /* Change this value to adjust the width of the screen you want the element to float across */
  }
  100% {
    transform: translateY(-4px);
  }
}

.moveLog {
  position: fixed;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
  background-color: #fffeed;
  box-shadow: 0px 0px 2px 2px lightgrey, 0px 0px 0px 3px black;
}

.moveLog-list {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.moveLog-item {
  margin-top: 2px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: left;
  transition: background-color .3s ease-in-out;
}

.moveLog-item:hover {
  background-color: rgb(244, 244, 76);
}

.moveLog-item:hover .timeLabel {
  background-color: white;
  color: black;
}

.moveLog-header {
  background-color: rgb(234,255,24, .81);
  box-shadow: 0px 2px 0px 0px white, 0px 3px 0px 0px black;
  border-bottom: 1px solid black;
  position: fixed; 
  padding: 12px;
}

.moveLog-header .count {
  color: #a4a4a4;
}

.logo {
  position: fixed;
  top: 24px;
}

.label {
  box-shadow: 0px 0px 0px 1px rebeccapurple, 0px 0px 0px 3px lightgrey, 0px 0px 0px 4px rebeccapurple;
  border-radius: 2px;
  display: inline-block;
  padding: 6px 30px;
  left: 20px;
  top: 11px;
  position: absolute;
  word-break: break-word;
}

.label.left {
  background: rgb(5,5,5,.85);
  color: white;
}

.label.right {
  background: white;
  color: black;
}

.label.left.check, .label.right.check {
  background-color: yellow;
  color: black;
}

svg.svg g {
  display: none;
}

form.configForm {
  height: 30px;
}

/* screen size specifics */

/* todo - might put this in a responsive.css */

/* above 840px the screen scales the viewport to fit the grid on the left and the move log to the right */
@media (min-width: 1700px) {
  .label {
    font-size: 64%;
    min-width: 182px;
    max-width: 182px;
    min-height: 196px;
    max-height: 196px;
  }

  .label.right {
    left: 1110px;
  }

  .label.left {
    left: 18px;
  }

  .clock {
    position: absolute;
    top: 113px;
    transform: scale(.6);
  }
  .left.clock {
    left: -24px;
  }
  .right.clock {
    left: 1066px;
  }

  .capture {
    font-size: 30px;
    top: 670px;
    min-width: 52px;
    max-width: 52px;
  }

  .left.capture {
    left: 36px;
  }

  .right.capture {
    left: 1286px;
  }

  .logo {
    width: 40px;
    left: 1644px;
  }

  .moveLog {
    left: 1370px;
    top: 10px;
    bottom: 50px;
    font-size: 24px;
    max-height: 1164px;
    width: 322px;
  }

  .moveLog-list {
    position: fixed;
    top: 80px;
    left: 1370px;
    bottom: 52px;
    width: 322px;
    max-height: 1090px;
  }

  .moveLog-header {
    width: 298px;
    height: 40px;
  }
  
  .moveLog-header .log {
    font-size: 30px;
  }

  .moveLog-header .count {
    font-size: 26px;
  }

  form.configForm {
    position: absolute;
    top: 1090px;
    left: 105px;
  }

  form.configForm label, form.configForm input {
    top: -17px;
    position: relative;
  }

  form.configForm label {
    font-size: 15.5px;
  }

  form.configForm input {
    font-size: 13.5px;
  }

  .btn-group {
    left: 960px;
    top: -46px;
  }

  .popup.position {
    top: 194px;
    left: 686px;
  }

  svg.svg {
    top: 1036px;
    left: 0;
    position: absolute;
  }

  svg.svg .seventeen {
    display: block;
    z-index: -1;
  }

  .scale {
    transform: scale(1.1);
  }
  
  .scale.position {
    margin-top: 80px;
    margin-left: 8%;
  }
}

@media (max-width: 1700px) and (min-width: 1400px) {
  .label {
    font-size: 48%;
    min-width: 120px;
    max-width: 120px;
    min-height: 110px;
    max-height: 110px;
  }

  .label.right {
    left: 758px;
  }

  .label.left {
    left: 18px;
  }

  .clock {
    position: absolute;
    top: 50px;
    transform: scale(.4);
  }

  .left.clock {
    left: -54px;
  }

  .right.clock {
    left: 682px;
  }

  .capture {
    font-size: 30px;
    top: 420px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 860px;
  }

  .logo {
    width: 34px;
    right: 26px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    bottom: 50px;
    font-size: 24px;
    max-height: 730px;
    width: 432px;
  }

  .moveLog-header {
    width: 408px;
    height: 36px;
  }

  .moveLog-header .log {
    font-size: 26px;
  }

  .moveLog-header .count {
    font-size: 22px;
  }

  .moveLog-list {
    position: fixed;
    top: 75px;
    right: 11px;
    bottom: 52px;
    width: 432px;
    max-height: 667px;
  }

  form.configForm {
    position: absolute;
    top: 681px;
    left: 42px;
  }

  form.configForm label, form.configForm input {
    top: -17px;
    position: relative;
  }

  form.configForm label {
    font-size: 15.5px;
  }

  form.configForm input {
    font-size: 13.5px;
  }

  .btn-group {
    left: 666px;
    top: -47px;
  }

  .popup.position {
    top: 180px;
    left: 476px;
  }

  svg.svg {
    top: 653px;
    left: 0;
    position: absolute;
  }

  svg.svg .fourteen {
    display: block;
    z-index: 0;
  }

  .scale {
    transform: scale(.70);
  }

  .scale.position {
    margin-top: -160px;
    margin-left: -110px;
  }
}

@media (max-width: 1400px) and (min-width: 1118px) {
  .label {
    font-size: 48%;
    min-width: 90px;
    max-width: 90px;
    min-height: 104px;
    max-height: 104px;
  }

  .label.right {
    left: 690px;
  }

  .label.left {
    left: 18px;
  }
  .clock {
    position: absolute;
    top: 50px;
    transform: scale(.34);
  }

  .left.clock {
    left: -70px;
  }
  
  .right.clock {
    left: 600px;
  }

  .capture {
    font-size: 30px;
    top: 450px;
    min-width: 6.5%;
    max-width: 6.5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 760px;
  }
  
  .logo {
    width: 28px;
    right: 24px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    bottom: 51px;
    font-size: 20px;
    max-height: 690px;
    width: 248px;
  }

  .moveLog-header {
    width: 224px;
    height: 32px;
  }

  .moveLog-header .log {
    font-size: 22px;
  }

  .moveLog-header .count {
    font-size: 18px;
  }

  .moveLog-list {
    position: fixed;
    top: 72px;
    right: 10px;
    bottom: 52px;
    width: 248px;
    max-height: 628px;
  }

  .moveLog-item {
    font-size: 18px;
  }

  form.configForm label, form.configForm input {
    top: -17px;
    position: relative;
  }

  form.configForm {
    position: absolute;
    top: 642px;
    left: 8px;
  }

  form.configForm input .btn-group button {
    font-size: 10px;
  }

  form.configForm label {
    font-size: 14px;
  }

  .btn-group {
    left: 635px;
    top: -46px;
  }

  .popup.position {
    top: 166px;
    left: 428px;
  }

  svg.svg {
    top: 616px;
    left: 0;
    position: absolute;
  }

  svg.svg .eleven {
    display: block;
    z-index: 0;
  }
  
  .scale {
    transform: scale(0.66);
  }

  .scale.position {
    margin-left: -160px;
    margin-top: -180px;
  }
}

@media (max-width: 1118px) and (min-width: 888px) {
  .label {
    font-size: 14px;
    min-width: 58px;
    max-width: 58px;
    min-height: 72px;
    max-height: 72px;
  }

  .label.right {
    left: 515px;
  }

  .label.left {
    left: 10px;
  }

  .clock {
    position: absolute;
    top: 20px;
    transform: scale(.23);
  }

  .left.clock {
    left: -96px;
  }
  
  .right.clock {
    left: 408px;
  }

  .capture {
    font-size: 18px;
    top: 333px;
    min-width: 5%;
    max-width: 5%;
  }

  .left.capture {
    left: 20px;
  }

  .right.capture {
    left: 563px;
  }

  .logo {
    width: 28px;
    right: 22px;
  }

  .moveLog {
    right: 10px;
    top: 10px;
    bottom: 51px;
    font-size: 20px;
    max-height: 498px;
    width: 218px;
  }

  .moveLog-header {
    min-width: 193.8px;
    max-width: 193.8px;
    height: 32px;
  }

  .moveLog-header .log {
    font-size: 22px;
  }

  .moveLog-header .count {
    font-size: 18px;
  }

  .moveLog-list {
    position: fixed;
    top: 70px;
    right: 10px;
    bottom: 52px;
    width: 218px;
    max-height: 432px;
  }

  .moveLog-item {
    font-size: 18px;
  }

  form.configForm {
    position: absolute;
    top: 472px;
    left: 6px;
    max-height: 21px;
    max-width: 150px;
  }

  form.configForm label {
    font-size: 8.4px;
  }

  form.configForm input {
    padding: 0px;
  }

  form.configForm label, form.configForm input {
    position: relative;
    top: -24px;
  }

  form.configForm input, .btn-group button {
    font-size: 7px;
  }

  .btn-group {
    left: calc(468px + 5%);
    top: -54px;
    padding: 6px 1px;
  }

  .popup.position {
    top: 120px;
    left: 312px;
  }

  svg.svg {
    top: 453px;
    left: 0;
    position: absolute;
  }

  svg.svg .nine {
    display: block;
    z-index: 0;
  }

  .scale {
    transform: scale(0.48);
  }

  .scale.position {
    margin-left: -265px;
    margin-top: -270px;
  }
}

/* below 840px the log is displayed below the board */
@media (max-width: 888px) and (min-width:640px) {
  .bodyScroll {
    overflow-y: auto;
  }

  .label {
    font-size: 30%;
    min-width: 64px;
    max-width: 64px;
    min-height: 68px;
    max-height: 68px;
    padding: 4px 12px;
  }

  .right.label {
    position: absolute !important;
    left: 450px;
  }

  .left.label {
    position: absolute !important;
    left: 12px;
  }

  .clock {
    position: absolute;
    top: 20.5px;
    transform: scale(.26);
  }

  .left.clock {
    left: -108.5px;
  }
  
  .right.clock {
    left: 329.5px;
  }

  .capture {
    position: absolute;
    font-size: 16px;
    top: 350px;
    min-width: 76px;
    max-width: 76px;
  }

  .left.capture {
    left: 4px;
  }

  .right.capture {
    left: 470px;
  }

  .logo {
    width: 24px;
    right: 16px;
    top: 16px;
    position: absolute;
  }

  .moveLog {
    position: absolute;
    left: 10px;
    top: 514px;
    font-size: 20px;
    height: 172px;
    width: 96.5%;
  }

  .moveLog-header {
    position: absolute;
    width: 97.25%;
    height: 32px;
  }

  .moveLog-header .log {
    font-size: 20px;
  }

  .moveLog-header .count {
    font-size: 16px;
  }

  .moveLog-list {
    margin-top: 60px;
    height: 112px;
  }

  form.configForm {
    position: absolute;
    top: 480px;
    left: 11px;
    max-height: 25px;
  }

  form.configForm label {
    font-size: 11px;
  }  
  
  form.configForm label, form.configForm input {
    position: relative;
    top: -21px;
  }

  form.configForm input, .btn-group button {
    font-size: 10px;
  }

  .btn-group {
    left: 342px;
    top: -54px;
    padding: 6.7px 10px;
  }

  .popup.position {
    top: 118px;
    left: 328px;
  }
  
  .scale {
    transform: scale(0.45);
  }
  
  .scale.position {
    margin-left: -36%;
    margin-top: -290px;
  }
}

@media (max-width: 640px) {
  .bodyScroll {
    overflow-x: auto;
    overflow-y: auto;
  }

  .label {
    font-size: 24%;
    min-height: 70px;
    max-height: 70px;
    min-width: 54px;
    max-width: 54px;
    padding: 4px 10px;
  }

  .right.label {
    position: absolute !important;
    left: 408px;
  }

  .left.label {
    position: absolute !important;
    left: 8px;
  }


  .clock {
    position: absolute;
    top: 25px;
    transform: scale(.22);
  }

  .left.clock {
    left: -119.5px;
  }
  
  .right.clock {
    left: 280.5px;
  }

  .capture {
    position: absolute;
    font-size: 16px;
    top: 330px;
    min-width: 72px;
    max-width: 72px;

  }

  .left.capture {
    left: 4px;
  }

  .right.capture {
    left: 420px;
  }

  .logo {
    width: 24px;
    right: 18px;
    top: 16px;
    position: absolute;
  }

  .moveLog {
    position: absolute;
    left: 8px;
    top: 480px;
    font-size: 20px;
    height: 206spx;
    width: 484px;
  }

  .moveLog-header {
    position: absolute;
    width: 96%;
    height: 32px;
  }

  .moveLog-header .log {
    font-size: 20px;
  }

  .moveLog-header .count {
    font-size: 16px;
  }

  .moveLog-list {
    margin-top: 60px;
    height: 146px;
  }

  form.configForm {
    position: absolute;
    top: 444px;
    left: 9px;
    max-height: 25px;
  }

  form.configForm label {
    font-size: 11px;
  }  
  
  form.configForm label, form.configForm input {
    position: relative;
    top: -21px;
  }

  form.configForm input, .btn-group button {
    font-size: 10px;
  }

  .btn-group {
    left: 300px;
    top: -54px;
    padding: 6.7px 10px;
  }

  .popup.position {
    top: 118px;
    left: 268px;
  }
  
  .scale {
    transform: scale(0.4);
  }
  
  .scale.position {
    margin-left: -40%;
    margin-top: -300px;
  }
}
