.clock {
  position: fixed;
  text-align: center;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: 'Courier New', Courier, monospace;
  border: 4px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: #B398D6;
}

.digit-container.blinking {
  animation: blink .5s alternate infinite;
  box-sizing: border-box;
}



@keyframes blink {
  from {
    background: rgb(246, 0, 205, .54);
  }
  to {
    background: rgba(255, 0, 208, 0.27);

  }
}

.digit-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;  /* Adjust as needed */
  height: 84px; /* Adjust as needed */
  margin: 4px;  /* Adjust for spacing between digits */
  overflow: hidden;
  border-radius: 8px;
}

.digit {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  transition: transform 1s, opacity 1s;
  background-color: rgba(255, 0, 208, 0.27);
  color:white;
  font-weight:1000;
}

.digit-container.blinking .digit {
  background-color: transparent;
}

.colon {
  padding: 10px;
  margin: 6px;
  font-size: 24px;
}

/* Style for the previous digit */
.previous {
  transform: translateY(-100%);
  opacity: 0;
  animation: slide-out 1s forwards;
}

@keyframes slide-out {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-100%); opacity: 0; }
}

/* Style for the current digit */
.current {
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}